@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Ubuntu:wght@400;700&family=Ubuntu+Mono:wght@700&display=swap');

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */
.about-header {
    margin: 40px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-header h1 {
    font-size: 2rem;
    font-family: "Ubuntu Mono", monospace;
    font-weight: 700;
}

.about-header img {
    width: 220px;
    height: auto;
    
}

/* Rows */
.about-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0;
    gap: 30px;
    flex-wrap: wrap;
}

.about-row.reverse {
    flex-direction: row;
}

.about-text-container {
    flex: 1;
    min-width: 280px;
}

.about-img-container {
    flex: 1;
    min-width: 280px;
    text-align: center;
}

.about-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
    font-family: "Ubuntu", sans-serif;
}

.about-text {
    font-size: 1rem;
    margin-bottom: 20px;
    line-height: 1.6;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

/* Buttons */
.show-more-btn {
    background-color: #198754;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}

.show-more-btn:hover {
    background-color: #146c43;
}

.btn-icon {
    font-size: 1.2rem;
}

/* Images */
.about-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.about-img1 {
    border-radius: 100px 5px 5px 100px;
}

.about-img2 {
    border-radius: 5px 100px 100px 5px;
}

/* Responsive */
@media (max-width: 768px) {
    .about-row {
        flex-direction: column;
        text-align: center;
    }

    .about-row.reverse {
        flex-direction: column;
    }
    .about-row.reverse {
        flex-direction: column-reverse;
    }

    .about-img1, .about-img2 {
        border-radius: 20px;
    }

    .about-header h1 {
        font-size: 1.6rem;
    }
}
